/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    
    
}

h1 {
    color: #3d5afe;
    text-shadow:#a4a4a4;
}


h2 {
    font-size: 25px;
}

p {
    font-weight: bold;
    font-size: 18px;
}

a {
    color: #a4a4a4;
  }
  
a:visited {
  color: #3d5afe;
}
 
a:hover {
    text-decoration: none;
  }
  
a:active {
    
    color: rgb(17, 187, 255);
  }

button {
    border:none;
    font-family: inherit;
    background-color: #a4a4a4;
    color: #a4a4a4;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #2b2b2b;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.button {
    border:none;
    font-family: inherit;
    background-color: #a4a4a4;
    color: #a4a4a4;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #2b2b2b;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

button {
     cursor: pointer;
    opacity: 0.5;
    color: rgb(0, 0, 0)
}

.button:hover {
     cursor: pointer;
    opacity: 0.5;
    color: rgb(0, 0, 0)
}

button:focus {
     cursor: pointer;
    opacity: 0.5;
    color: rgb(0, 0, 0)
}




.send-message {
    color:#3d5afe;
}


.profile__portrait {
    float: left;
    width: 200px;
    margin-right: 40px;
    height: auto;
    border-radius: 50%;
}

.page-footer {
    clear: both;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clear: both;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.home-header {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width: 100%;
    padding:20px;
}

.home-header-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    border-radius: 70%;
    flex: 0 1 200px;

}
.about-header {
   height: 200px;
}


.navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    bottom: 200px;
    border-bottom:  5px rgb(0, 0, 0);

   
}

.navigation-list li {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding:2%;
   border-bottom: rgb(0, 0, 0) 5px;
    
 
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0% 5% 5% 5%;
  }
  
.grid-item {

    background-color: #a4a4a4;
    padding: 1%;
    text-align: center;
  
}  

.grid-item:last-child {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 0;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }

 
#work-heading {
    text-align: center;
    padding: 5%;
    text-decoration: underline;
}

.about-header {
    margin-bottom: 20px;
    padding:5px;
}

.about-me {
    margin:auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.my-painting {
    height: 800px;
    display: block;
    width: auto;
   margin-right: auto;
   margin-left: auto;
}
.about-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding:2%;
    text-align: center;
}








/*helmet*/

@-webkit-keyframes helmet-color-change {
    0% {
        fill: rgb(0, 0, 0);
    }
    10% {
        fill:  rgb(0, 0, 0);
    }
    50% {
        fill: rgb(0, 0, 0);
    }
    100% {
        fill: #fc8700;
    }
    from {
        -webkit-transform: translate(0, -300px);
                transform: translate(0, -300px);
      }
      to {
        -webkit-transform: translate(0px, 200px);
                transform: translate(0px, 200px);
      }
    }

@keyframes helmet-color-change {
    0% {
        fill: rgb(0, 0, 0);
    }
    10% {
        fill:  rgb(0, 0, 0);
    }
    50% {
        fill: rgb(0, 0, 0);
    }
    100% {
        fill: #fc8700;
    }
    from {
        -webkit-transform: translate(0, -300px);
                transform: translate(0, -300px);
      }
      to {
        -webkit-transform: translate(0px, 200px);
                transform: translate(0px, 200px);
      }
    }


.helmet {
    -webkit-animation-name: helmet-color-change;
            animation-name: helmet-color-change;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    
}

/*chest line*/
@-webkit-keyframes chest-line-change {
    0% {
        fill:  rgb(255, 255, 255);
    }
    10% {
        fill: var(white);
    }
    50% {
        fill: rgb(255, 255, 255);
    }
    100% {
        fill: #50fc00
        
    }
    from {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
      to {
        -webkit-transform: translate(0px, -1000px);
                transform: translate(0px, -1000px);
    }
}
@keyframes chest-line-change {
    0% {
        fill:  rgb(255, 255, 255);
    }
    10% {
        fill: var(white);
    }
    50% {
        fill: rgb(255, 255, 255);
    }
    100% {
        fill: #50fc00
        
    }
    from {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
      to {
        -webkit-transform: translate(0px, -1000px);
                transform: translate(0px, -1000px);
    }
}



 .suit-chest-line {
    -webkit-animation-name: chest-line-change;
            animation-name: chest-line-change;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

/*name badge letters*/
@-webkit-keyframes name-badge-color-change {
    0% {
        fill:  rgb(0, 0, 0);
    }
    10% {
        fill:  rgb(0, 0, 0);
    }
    50% {
        fill: rgb(0, 0, 0);
    }
    100% {
        fill: #50fc00;
    }
}
@keyframes name-badge-color-change {
    0% {
        fill:  rgb(0, 0, 0);
    }
    10% {
        fill:  rgb(0, 0, 0);
    }
    50% {
        fill: rgb(0, 0, 0);
    }
    100% {
        fill: #50fc00;
    }
}


.badge-letters {
    -webkit-animation-name: name-badge-color-change;
            animation-name: name-badge-color-change;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

/*name-badge*/
@keyframes name-badge-color-change {
    0% {
        fill: #a4a4a4;
    }
    10% {
        fill: #a4a4a4;
    }
    50% {
       
        fill: #a4a4a4;
    }
    100% {
        fill: #50fc00;
    }
   
}

 .name-badge {
    -webkit-animation-name: name-badge-color-change;
            animation-name: name-badge-color-change;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}



  


@media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
   
    .grid-item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
      }
    h1 {
      font-size: 22px;
    }
  }