:root {
    --primary-color: #3d5afe;
    --secondary-color: #dfdbdb8a;
    --dark-grey: #2b2b2b;
    --active:rgb(17, 187, 255);
    --black:rgb(0, 0, 0);
    --orange:#fc8700;
    --green:#50fc00;
    --white:rgb(255, 255, 255);
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    
}


h1 {
    color: var(--primary-color);
    text-shadow:var(--secondary-color);
}




p {
    font-weight: bold;
    font-size: 18px;
}

a {
    color: var(--primary-color);
  }
  
a:visited {
  color: var(--primary-color);
}
 
a:hover {
    text-decoration: none;
  }
  
a:active {
    
    color: var(--active);
  }

.home-header {
    margin-right: 5%;
   margin-bottom: 5%;
}

.heading-items {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.website-logo {

}


.navigation-list {
    margin: 30px;
    padding: 30px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

   
}

.navigation-list-item {

}




#contact-info-heading {
    text-align: center;
    text-decoration: underline;
}

.contact-info {
    font-size: 20px;
    margin: 5%;
    text-align: center;
    color: var(--secondary-color);
}

.profile {
    text-align: center;
}

#home-page-profile-portrait {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}



#send-me-a-message{
    margin: 20px;
    text-align: center;
    font-size: 25px;
}
#contact-form {
    margin: 50px;
    text-align: center;
}

.standard-label {
    padding: 20px;
}

.page-footer {
    display: flex;
    clear: both;
    flex-direction: column;
    text-align: center;
    clear: both;
    margin: 10%;
    border-style: outset;
    border-width: 5px;
    border-color:var(--secondary-color);
   border-left: hidden;
   border-right: hidden;
   border-top: hidden;
}

.social-media {
    margin: auto;
    font-size: 30px;
}

.send-message {
    color:var(--primary-color);
}

button, 
.button {
    border:none;
    font-family: inherit;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--dark-grey);
    transition: 2s;
}

button,
.button:hover, button:focus {
     cursor: pointer;
    opacity: 0.5;
    color: var(--black)
}


 


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0% 5% 5% 5%;
  }
  
.grid-item {

    background-color: var(--secondary-color);
    padding: 1%;
    text-align: center;
  
}  

.grid-item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

 
#work-heading {
    text-align: center;
    margin: 5%;
    text-decoration: underline;
 
}


.about-me {
   text-align: center;
}

.about-me-profile-portrait {
    height: 300px;
    width: 300px;
    border-radius: 5%;
    padding: 5px;
}

.my-painting {
    height: 800px;
    display: block;
    width: auto;
   margin-right: auto;
   margin-left: auto;
   border-radius: 50%;
   border-style: solid;
   border: 5px var(--dark-grey);
}
.about-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:2%;
    text-align: center;
}








/*helmet*/

@keyframes helmet-color-change {
    0% {
        fill: var(--black);
    }
    10% {
        fill:  var(--black);
    }
    50% {
        fill: var(--black);
    }
    100% {
        fill: var(--orange);
    }
    from {
        transform: translate(0, -300px);
      }
      to {
        transform: translate(0px, 200px);
      }
    }


.helmet {
    animation-name: helmet-color-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

/*chest line*/
@keyframes chest-line-change {
    0% {
        fill:  var(--white);
    }
    10% {
        fill: var(white);
    }
    50% {
        fill: var(--white);
    }
    100% {
        fill: var(--green)
        
    }
    from {
        transform: translate(0, 0);
    }
      to {
        transform: translate(0px, -1000px);
    }
}



 .suit-chest-line {
    animation-name: chest-line-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

/*name badge letters*/
@keyframes name-badge-color-change {
    0% {
        fill:  var(--black);
    }
    10% {
        fill:  var(--black);
    }
    50% {
        fill: var(--black);
    }
    100% {
        fill: var(--green);
    }
}


.badge-letters {
    animation-name: name-badge-color-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/*name-badge*/
@keyframes name-badge-color-change {
    0% {
        fill: var(--secondary-color);
    }
    10% {
        fill: var(--secondary-color);
    }
    50% {
       
        fill: var(--secondary-color);
    }
    100% {
        fill: var(--green);
    }
   
}

 .name-badge {
    animation-name: name-badge-color-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}



  


@media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
   
    .grid-item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
      }
    h1 {
      font-size: 22px;
    }
  }
  



   

