:root {
    --primary-color: #3d5afe;
    --secondary-color: #f2ebeb95;
    --dark-grey: #2b2b2b;
    --active:rgb(17, 187, 255);
    --black:rgb(0, 0, 0);
    --orange:#fc8700;
    --green:#50fc00;
    --white:rgb(255, 255, 255);
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-color: var(--dark-grey);

}

#contact-info-heading {
    position:relative;
    left:2%;
    top: 5%;
}

.contact-info {
    margin: auto;
    left: 2%;
    position: relative;
    top:50px;
}

h1 {
    color: var(--secondary-color);
    text-shadow:var(--secondary-color);
}


h2 {
    font-size: 25px;
    color: var(--primary-color)
}

p {
    font-weight: bold;
    font-size: 18px;
    color:var(--primary-color);
}

a {
    color: var(--primary-color);
  }
  
a:visited {
  color: var(--primary-color);
}
 
a:hover {
    text-decoration: none;
  }
  
a:active {
    
    color: var(--active);
  }

.buttong-parent {
    height:300px;
    margin: 100px;
}

 
.button-1 {
    padding: 10px;
    border: 3px;
    width: 300px;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--dark-grey);
    position: relative;
    
    
    
}

.button-1:hover {
    cursor: pointer;
    box-shadow:#50fc00;
    transition: 2s;
}






.send-message {
    color:var(--primary-color);
}


.profile {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.intro {
    position: relative;
    top: 100px;
    border: var(--primary-color);
    border: 5px;
}


.page-footer {
    display: flex;
    clear: both;
    flex-direction: column;
    text-align: center;
    position: relative;
    clear: both;
    width: 100%;
    top:400px;
    left:750px;
}

.social-media {
    position: absolute;
    bottom:0;
}

.home-header {
    padding: 2em;
    margin:auto;
    width: 100%;
    height:300px;
}

.home-header-item {
    flex: 0 1 200px;
    border-radius: 70%;
    flex: 0 1 200px;

}
.about-header {
   height: 200px;
}

.heading-items{
    position: relative;
    width: 100%;
}

.navigation-list {
    left:20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    bottom: 200px;
    border-bottom:  5px var(--black);

   
}

.navigation-list li {
   display: flex;
   padding:2%;
   border-bottom: var(--black) 5px;
    
 
}

.website-logo {
    height: 250px;
    border-radius: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0% 5% 5% 5%;
  }
  
.grid-item {

    background-color: var(--secondary-color);
    padding: 1%;
    text-align: center;
  
}  

.grid-item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

 
#work-heading {
    text-align: center;
    padding: 5%;
    text-decoration: underline;
}

.about-header {
    margin-bottom: 20px;
    padding:5px;
}

.about-me {
   position: relative;
    width: 100%;
    height: 550px;
}

.profile__portrait {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    right: 40%;
    margin-left: auto;
    margin-right: auto;
    top:1%;
}

#home-page-profile-portrait{
    position: relative;
    top:50px;
    height: 300px;
    width: auto;
    border-radius: 50%;
}
.about-me-paragraph {
    position:absolute;
    height: 100px;
    bottom:170px;
    text-align: center;
    left: 25%;
    
    
    
}

.astronaut {
    position: relative;

}

.my-painting {
    position: absolute;
    height: 400px;
    width: auto;
    border-radius: 50%;
    top:0;
    right:30%;
    background-color: var(--white);
    
   
}

#contact-form {
    position: relative;
    left:20px;
}








/*helmet*/

@keyframes helmet-color-change {
    0% {
        fill: var(--black);
    }
    10% {
        fill:  var(--black);
    }
    50% {
        fill: var(--black);
    }
    100% {
        fill: var(--orange);
    }
    from {
        transform: translate(0, -300px);
      }
      to {
        transform: translate(0px, 200px);
      }
    }


.helmet {
    animation-name: helmet-color-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

/*chest line*/
@keyframes chest-line-change {
    0% {
        fill:  var(--white);
    }
    10% {
        fill: var(white);
    }
    50% {
        fill: var(--white);
    }
    100% {
        fill: var(--green)
        
    }
    from {
        transform: translate(0, 0);
    }
      to {
        transform: translate(0px, -1000px);
    }
}



 .suit-chest-line {
    animation-name: chest-line-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

/*name badge letters*/
@keyframes name-badge-color-change {
    0% {
        fill:  var(--black);
    }
    10% {
        fill:  var(--black);
    }
    50% {
        fill: var(--black);
    }
    100% {
        fill: var(--green);
    }
}


.badge-letters {
    animation-name: name-badge-color-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/*name-badge*/
@keyframes name-badge-color-change {
    0% {
        fill: var(--secondary-color);
    }
    10% {
        fill: var(--secondary-color);
    }
    50% {
       
        fill: var(--secondary-color);
    }
    100% {
        fill: var(--green);
    }
   
}

 .name-badge {
    animation-name: name-badge-color-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}



  


@media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
      
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
   
    .grid-item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
      }
    h1 {
      font-size: 22px;
    }
  }
  
@media all and (max-width: 750px){
    .navigation-list-item {
        position: relative;
        font-size: 22px;
        top:200px;
        
    }

}

@media all and (max-width: 750px){
    .website-logo {
        position: absolute;
        left:100px;
        z-index: -1;
    }
}


   

